.movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie {
    text-align: center;
    width: 30%;
    border: solid 1px none;
    border-radius: 10px;
    padding: 1% 1%;
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.2);
    margin: 2% 0;
    transition: ease-in 0.5s;
}

.fetchMessage {
    margin-top: 1em;
}

.movie:hover {
    transition: ease-in 0.5s;
    background-color: lightblue;
}

.movie .infoLabel {
    margin-right: 0.5em;
}

img {
    border-radius: 10px;
}

.subtitle {
    font-size: 1.1em;
}

select {
    border-radius: 5px;
}

button {
    width: 100%;
}

label {
    margin-bottom: 0.2em !important;
    margin-top: 0.5em !important;
}